<div class="loginContainer">
    <form>
        <input type="text" name="username" value="">
        <input type="password" name="password" value="">
        <input type="submit" value="login" id="loginBtn">
    </form>
</div>